# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
target/maven-status/
target/maven-archiver/
target/generated-sources/
target/classes/
target/test-classes/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE - VS Code
.vscode/
.settings/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Java
.mtj.tmp/
hs_err_pid*
replay_pid*

# Database
*.db
*.dat
derby.log
catshop.db/
