#loginButton,
#changePasswordButton,
#changeOverdraftButton {
    -fx-color: lightblue;
}

#loginButton:hover,
#changePasswordButton:hover,
#changeOverdraftButton:hover {
    -fx-color: rgb(151, 189, 202);
}

#loginButton:pressed, 
#changePasswordButton:pressed, 
#changeOverdraftButton:pressed {
    -fx-color: lightblue;
}